node_modules/
.env
*.log
.DS_Store
.vscode/
.idea/
android/.gradle/
android/local.properties
android/build/
android/app/build/
*.jks
*.keystore
!android/app/debug.keystore
node_modules/
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
ios/build/
*.apk
*.aab